
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work sans';
  font-style: ;
}

body{
  font-family: 'Work sans';
  padding:90px 20px 0;
}

.header{

  background-color:black;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
.nav-link{
  color: white;
  text-decoration: none;
}
.logo{
  font-family: 'Righteous';
  font-size: 36px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
  color:#1CB698;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
font-size: 18px;
margin: 0 10px;
line-height: 80px;
text-transform: uppercase;
width: max-content;
}
.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}
.nav-menu-link:hover{
  background-color: #1C90B2;
  transition: 0.5s;
}

.nav-toggle{
  color: white;
  background: none;
  border:none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;

  display: none;
}

.img-b{
  border-radius: 100%;
}

/* seccion i n i c i o */

.inicio{
  background: linear-gradient(to top, rgba(30,35,38,.8),rgba( 30,35,38,1)),url(img/fondo.jpeg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .contenedor-banner{

  padding: 20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .contenedor-banner img{

  margin-top: 40px;
  border: 10px solid #1cb698;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenedor-banner h1{

  margin-top: 40px;
  font-size: 42px;
  font-family: 'Righteous';
}

.inicio .contenedor-banner h2{

  font-size: 15px;
  font-weight: normal;
}

.inicio .contenedor-banner .redes a{

  color:#fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}

.inicio .contenedor-banner .redes a:hover{

  background-color: #1CB698;
}

@media (max-width: 768px){

  body{

    padding-top:70px;
  }

  .header{
    height: 60px;
  }
  .logo{
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }

  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #AC32EA;
    position: fixed;
    left:0;
    top:60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item{
  line-height: 70px;
  }
  .nav-menu-link:hover{
    background:none;
    color:#E5D5ED;
  }
  .nav-toggle{
    display: block;
  }
  .nav-menu_visible{
  left: 0;
  }
}
